// footer styling 

.foot-container {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 40px;
    display: flex;
    align-content: center;
    background-color: rgba(58, 58, 58, 0.9);
    border-bottom: 2px solid rgba(158, 158, 158, 0.7);
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 0px 2px 7px rgba(68, 68, 68, 0.6);

    .footer {
        padding: 20px;

        a {
            padding: 10px;
            color: #fff;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;

        }
    
        a:hover {
            background-color: @sky-blue;
            border-radius: 4px;
        
        }
    }
}