
/////// ###### Navigation Bar Styling ######## ///////

.nav-container {
    max-width: 100%;
    font-size: 16px;
    display: flex;
    align-content: center;
    background-color: @nav-bar;
    border-bottom: 2px solid rgba(158, 158, 158, 0.7);
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 0px 2px 7px rgba(68, 68, 68, 0.6);
    
    

    .head-logo {
        width: 30%;
        font-size: 16px;
        margin-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        color: #fff;
        

    }

    .navbar {
        width: 60%;
        margin-top: 20px;
        padding-top: 10px;
        text-align: end;
        
        a {
            padding: 15px;
            color: #fff;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
    
        }
        
        a:hover {
            background-color: @sky-blue;
            border-radius: 4px;
            
        }
        
    }

    
}